

mixin img(name = "banner.jpg")
  img(src="./assets/images/" + name, alt="")


mixin imgIc(name = "ic.png")
  img(src="./assets/images/icons/" + name, alt="")


mixin pagination()
  ul.page-numbers
    li
      span.page-numbers.prev 
        i.fas.fa-chevron-left
    li
      span.page-numbers.current 1
    li
      a.page-numbers(href='') 2
    li
      a.page-numbers(href='') ...
    li
      a.page-numbers(href='') 9
    li
      a.page-numbers(href='') 10
    li
      span.page-numbers.next 
        i.fas.fa-chevron-right



mixin box-navi(leftIc,rightIc)
  .box-navi
    .btn-navi.prev 
      i(class=leftIc)
    .btn-navi.next 
      i(class=rightIc)


mixin banner-main(page1,page2,pageCurrent,title)
  .banner_main 
    .container  
      .banner_main--wrap 
        .banner_main--box
          .banner_main--breadcrumbs(data-aos="fade-in" data-aos-delay="400")
            +breadcrumbs(page1,page2,pageCurrent)
          .banner_main--box-title(data-aos="fade-in" data-aos-delay="800")
            h1.title-lg.cl-white.fw-5.fl-sec.t-center.t-up #{title}

mixin banner-main2(page1,page2,pageCurrent,title)
  .banner_main.aboutPage 
    .container  
      .banner_main--wrap 
        .banner_main--box
          .banner_main--breadcrumbs(data-aos="fade-in" data-aos-delay="400")
            +breadcrumbs(page1,page2,pageCurrent)
          .banner_main--box-title(data-aos="fade-in" data-aos-delay="800")
            h1.title-lg.cl-white.fw-5.fl-sec.t-center.t-up #{title}

mixin btn(name,button,classIc,type)
  if(button != "button")
    a.btn(href="",class=type)
      span.btn-text #{name}
      if(classIc)
        span.btn-ic
          i(class=classIc)  
  else
    button.btn(class=type) 
      span.btn-text #{name}
      if(classIc)
        span.btn-ic
          i(class=classIc)


mixin Popup(classCustom)
  .popup(class=classCustom, data-popup="")
    .popup-wrapper 
      block



mixin breadcrumbs(page1,page2,pageCurrent)
  .breadcrumbs
    ul.breadcrumbs-list
      if (page2 == "")
        li.breadcrumbs-item
          a.breadcrumbs-link(href='') #{page1}  
        li.breadcrumbs-item.current-item
          a.breadcrumbs-link(href='') #{pageCurrent}
      else 
        li.breadcrumbs-item
          a.breadcrumbs-link(href='') #{page1}  
        li.breadcrumbs-item
          a.breadcrumbs-link(href='') #{page2}   
        li.breadcrumbs-item.current-item
          a.breadcrumbs-link(href='') #{pageCurrent}  





mixin post(gallery,title)
  .post
    .post_wrap.d-wrap
      .post_lf.d-item 
        .post_lf--wrap 
          p.note-sm.cl-white3.fw-5 17/07/2024 15:30PM 
          ul.post_actions 
            li.post_action 
              span.ic 
                +img("pic1.png")
              p.note-sm.cl-white 23 lượt thích
            li.post_action 
              span.ic  
                +img("pic2.png")
              p.note-sm.cl-white 23 bình luận
      .post_ct.d-item  
        .post_ct--wrap
          .post_ct--imgs
            a.post_img(href="./assets/images/p1.png" data-fancybox=`${gallery}`).fancybox 
              +img("p1.png")
            a.post_img(href="./assets/images/nct1.png" data-fancybox=`${gallery}`).fancybox 
              +img("nct1.png")
            a.post_img(href="./assets/images/nct2.png" data-fancybox=`${gallery}`).fancybox 
              +img("nct2.png")
      .post_rt.d-item 
        .post_rt--wrap
          a.box-dm(href="") GÓC NHÌN
          h2.note-md.cl-white.fw-5(href="")
            a(href="") #{title}
          p.note-mn.content.cl-white Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta fugit pariatur aliquam temporibus est voluptatibus esse culpa magnam vitae magni, laboriosam perferendis inventore sint eum minima nostrum dolore officiis obcaecati?
          a(href="").link-text XEM TIẾP 

mixin post2(img,title)
  .post2
    .post2_wrap
      .post2_ic 
        +img("hcic.png")
      .post2_bg
        +img(img)
      .post2_box
        .post2_box--top
          p.note-sm.cl-white.t-up GIẢI ĐỒNG, GIẢI THƯỞNG KIẾN TRÚC QUỐC GIA 2022
          h2.note-md.cl-white.fw-5(href="")
            a(href="") #{title}
          //- p.note-mn.content.cl-white Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta fugit pariatur aliquam temporibus est voluptatibus esse culpa magnam vitae magni, laboriosam perferendis inventore sint eum minima nostrum dolore officiis obcaecati?
        .post2_box--bottom
          a(href="").link-text XEM CHI TIẾT DỰ ÁN

mixin post3(img,title)
  .post3
    .post3_wrap.d-wrap
      .post3_lf.d-item 
        .post3_lf--wrap 
          p.note-sm.cl-white.fw-6 #1
      .post3_ct.d-item 
        .post3_ct--wrap
          a.post3_img(href="") 
            +img(img)
      .post3_rt.d-item 
        .post3_rt--wrap
          .post3_rt--top 
            p.note-sm.cl-white3 07.08.2024 05:30PM
            ul.post3_actions 
              li.post3_action 
                span.ic 
                  +img("pic1.png")
                p.note-sm.cl-white 23 lượt thích
              li.post3_action 
                span.ic 
                  +img("pic2.png")
                p.note-sm.cl-white 23 bình luận
          .post3_rt--bottom 
            a(href="").note-md.cl-white.fw-6 #{title} 
            p.note-text.cl-white Tôi có mua 1 máy Dell Inspiron 5301 và 1 màn hình LCD Dell P2719H cũng gần đây, cho cháu xem Youtube thì màn hình hơi nhỏ Tôi có mua 1 máy Dell Inspiron 5301 và 1 màn hình LCD Dell P2719H cũng gần đây, cho cháu xem Youtube thì màn hình hơi nhỏ 


mixin post4(img,title)
  .post3
    .post3_wrap.d-wrap
      .post3_lf.d-item 
        .post3_lf--wrap 
          p.note-sm.cl-white.fw-6 #1
      .post3_ct.d-item 
        .post3_ct--wrap
          a.post3_img(href="") 
            +img(img)
      .post3_rt.d-item 
        .post3_rt--wrap
          .post3_rt--top 
            p.note-sm.cl-white3 07.08.2024 05:30PM
            ul.post3_actions 
              li.post3_action 
                span.ic 
                  +img("pic1.png")
                p.note-sm.cl-white 23
              li.post3_action 
                span.ic 
                  +img("pic2.png")
                p.note-sm.cl-white 23
          .post3_rt--bottom 
            a(href="").note-md.cl-white.fw-6 #{title} 
            p.note-text.cl-white Tôi có mua 1 máy Dell Inspiron 5301 và 1 màn hình LCD Dell P2719H cũng gần đây, cho cháu xem Youtube thì màn hình hơi nhỏ Tôi có mua 1 máy Dell Inspiron 5301 và 1 màn hình LCD Dell P2719H cũng gần đây, cho cháu xem Youtube thì màn hình hơi nhỏ 


mixin post-td(title)
  .post_td
    .post_td--wrap
      .post_td--top
        h2.title-mn.cl-text.fw-6 
          a(href="") #{title}
        .post_td--infos 
          .post_td--info 
            p.note-text Quảng Bình
          .post_td--info 
            p.note-text Toàn thời gian
          .post_td--info 
            p.note-text 10 - 20 triệu
          .post_td--info 
            p.note-text Team sale
      .post_td--bottom
        +btn("Ứng tuyển ngay","","fal fa-arrow-right","cl-8")

mixin menuFoodItem(name,best,linkImgFood1,linkImgFood2,index,price,lang1,lang2)
  .menuFood_item 
    .menuFood_item--wrap 
      .menuFood_item--top 
        .menuFood_item--top-lf 
          h3.note-text.cl-text.t-up.fw-5 #{name}
          if(best != "" || linkImgFood1 != "" && linkImgFood2 != "")
            ul.menuFood_ref--list
              if(best != "")
                li.menuFood_ref--item 
                  .menuFood_ref--item-wrap 
                    span.ic 
                      +img("mnfic1.png")
                    p.note-sm.cl-text3 Best seller
              if(linkImgFood1 != "" && linkImgFood2 != "")
                li.menuFood_ref--item 
                  .menuFood_ref--item-wrap 
                    span.ic.openImgs 
                      +img("mnfic2.png")
                    p.note-sm.cl-text3 Hình ảnh món ăn
                    .menuFood_ref--imgs.gallery 
                      a(href=`./assets/images/${linkImgFood1}` data-fancybox=`gallery${index}`).menuFood_ref--img
                        +img(linkImgFood1)
                      a(href=`./assets/images/${linkImgFood2}` data-fancybox=`gallery${index}`).menuFood_ref--img
                        +img(linkImgFood2)
        .menuFood_item--top-ct 
          span.line
        .menuFood_item--top-rt 
          p.note-text.cl-text #{price}
      .menuFood_item--bottom 
        p.note-sm.cl-text3 #{lang1}
        p.note-sm.cl-text3 #{lang2}